* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: goldenrod;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 4%;
}

.card {
    width: 390px;
    height: 800px;
    background-color: rgb(20, 20, 59);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.image {
    position: relative;
    top: 20px;
    left: 20px;
}

.img1 {
    width: 350px;
    height: 340px;
    border-radius: 5px;
}

.text1 {
    display: flex;
    flex-direction: column;
}

.p1 {
    font-size: 35px;
    font-weight: 300;
    position: relative;
    top: 15px;
    left: 18px;
    color: rgba(245, 245, 245, 0.774);
}

.text2 {
    display: flex;
    flex-direction: column;
}

.p2 {
    font-size: 22px;
    font-weight: 200;
    position: relative;
    left: 18px;
    bottom: 15px;
    color:  rgba(169, 169, 169, 0.699);  
}

.icons {
    display: flex;
    justify-content: center;
}

.icon1 {
    width: 30px;
    height: 30px;
    position: relative;
    right: 58px;
    top: 15px;
}

.label1 {
    font-size: 22px;
    position: relative;
    right: 58px;
    top: 20px;
    color: #1ca2f1;
}

.icon2 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
    left: 30px;
}

.label2 {
    font-size: 22px;
    position: relative;
    left: 37px;
    top: 20px;
    color: rgba(169, 169, 169, 0.699);
}

.line {
    width: 350px;
    height: 1px;
    background-color: rgba(169, 169, 169, 0.384);
    position: relative;
    top: 80px;
    left: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    
}

.fimage {
    width: 40px;
    height: 40px;
    position: relative;
    top: 120px;
    right: 25px;
    border: 1px solid darkgray;
    border-radius: 50%;
}

.label3 {
    font-size: 22px;
    position: relative;
    top: 127px;
    right: 5px;
    color: rgba(169, 169, 169, 0.699);
}